html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.teamScore {
	z-index: 1;
	position: absolute;
	font-size: 300px;
	top: 455px;
	font-family: DFBSans-Bold, sans-serif;
}

#homeScore {
	left: 710px;
}

#awayScore {
	left: 1020px;
}

#timer {
	position: absolute;
	left: 800px;
	top: 850px;
	font-size: 120px;
	font-family: DFBSans-Bold, sans-serif;
}
