@font-face {
    font-family: DFBSans-Bold;
    src: url(/fonts/DFBSansWeb-Bold.ttf);
}

@font-face {
    font-family: DFBSans-BoldItalic;
    src: url(/fonts/DFBSansWeb-BoldItalic.ttf);
}

html {
    font-family: DFBSans-BoldItalic, DFBSans-Bold, Anton, Oxygen, sans-serif;
    color: white;
    overflow: hidden;
}
