@font-face {
	font-family: DFBSans-Bold;
	src: url(/fonts/DFBSansWeb-Bold.ttf);
}

@font-face {
	font-family: DFBSans-BoldItalic;
	src: url(/fonts/DFBSansWeb-BoldItalic.ttf);
}

@font-face {
	font-family: DFBSans-Italic;
	src: url(/fonts/DFBSansWeb-RegularItalic.ttf);
}

@font-face {
	font-family: DFBSans-Regular;
	src: url(/fonts/DFBSansWeb-Regular.ttf);
}

@font-face {
	font-family: DFBSans-Condensed-Bold;
	src: url(/fonts/DFBSansCondensedWeb-Bold.ttf);
}

@font-face {
	font-family: DFBSans-Condensed-Regular;
	src: url(/fonts/DFBSansCondensedWeb-Regular.ttf);
}

@font-face {
	font-family: DFBSans-Condesed-Regular-Ofc;
	src: url(/fonts/DFBSansCondensedOfc-Regular.ttf);
}

@font-face {
	font-family: DFBSans-Regular-Ofc;
	src: url(/fonts/DFBSansOfc-Regular.ttf);
}

html {
	font-family: DFBSans-BoldItalic, DFBSans-Bold, Anton, Oxygen, sans-serif;
	color: white;
	overflow: hidden;
}

:root {
	--futsal-blue-1: #003246;
	--futsal-blue-2: #1eb4c8;
	--futsal-accent: #6edce6;
	--futsal-grey: #ebf0f6;
}
