#container {
	width: 1920px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0;
	grid-row-gap: 0;
}

#score {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 70px;
	gap: 15px;
	font-family: DFBSans-Bold, sans-serif;
	vertical-align: middle;
}

.teamImage {
	width: auto;
	height: 70px;
	z-index: 1;
}

#halftimeText {
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
}

#timer {
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
	font-family: DFBSans-Bold, sans-serif;
}
