html {
    background: transparent;
}

#scoreboard {
    position: relative;
    left: 30px;
    height: 40px;
}

#scoreboardImage {
    position: relative;
    width: 700px;
    height: auto;
    z-index: -1;
}

#bfvLogo {
    position: absolute;
    display: inline-block;
}

#bfvLogoImage {
    position: relative;
    width: auto;
    height: 60px;
    top: 60px;
}

#bfvClosing {
    position: relative;
    left: 30px;
    top: -8px;
}

.teamImage {
    position: absolute;
    width: auto;
    height: 48px;
    z-index: 1;
    top: 65px;
}

#homeImage {
    left: 120px;
}

#awayImage {
    left: 625px;
}

.teamNameBox {
    width: 190px;
    height: 45px;
    position: absolute;
    top: 68px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
}

#homeNameBox {
    left: 160px;
}

#awayNameBox {
    left: 435px;
}

.teamName {
    z-index: 1;
    font-size: 22px;
}

.teamScore {
    z-index: 1;
    position: absolute;
    font-size: 35px;
    top: 69px;
    font-family: DFBSans-Bold, sans-serif;
}

#homeScore {
    left: 365px;
}

#awayScore {
    left: 402px;
}

.shirtLine {
    position: absolute;
    width: 150px;
    height: 10px;
    top: 54px;
    background-color: #59aadf;
    border-radius: 10px 10px 0px 0px;
    z-index: -5;
}

#homeShirtLine {
    left: 180px;
}

#awayShirtLine {
    left: 455px;
}

.foulsBox {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 115px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    vertical-align: center;
    z-index: -5;
    border-top: 2px solid #6edce6;
}

.fouls {
    z-index: 1;
    font-size: 20px;
    vertical-align: top;
    font-family: DFBSans-Bold, sans-serif;
}

#homeFoulsBox {
    left: 230px;
    background-color: #096780;
}

#awayFoulsBox {
    left: 505px;
    background-color: #024359;
}

@keyframes AufstellungBoxIn {
    from { left: 2000px; }
    to {  left: 520px; }
}

@keyframes AufstellungBoxOut {
    from { left: 520px }
    to { left: 2000px; }
}

#aufstellungBox {
    position: absolute;
    height: 800px;
    width: 1400px;
    top: 200px;
    left: 2000px;
    background: linear-gradient(to right, rgba(30, 180, 200, 0.8) 25%, rgba(2, 67, 89, 0.9));
}

.stripes {
    max-width:100%;
    max-height:100%;
    opacity: 0.8;
}

@keyframes SpielfeldIn {
    from { object-position: 0px 1500px;}
    to { object-position: 0px 0px; }
}

@keyframes SpielfeldOut {
    from { object-position: 0px 0px; }
    to { object-position: 0px 1500px;}
}

#aufstellungSpielfeld {
    position: absolute;
    max-width: 700px;
    width: 700px;
    height: auto;
    top: -250px;
    left: 50px;
    z-index: -10;
    object-position: 0px 1500px;
}

#aufstellungTeamname {
    font-size: 60px;
    margin: 30px;
    position: relative;
    top: 30px;
}

#aufstellungLogo {
    position: relative;
    top: -50px;
    left: 1100px;
    width: auto;
    height: 300px;
}

#aufstellungPlayersBox {
    position: fixed;
    width: 1300px;
    height: 600px;
    padding: 10px;
    margin: 0;
    top: 350px;
}

.players {
    font-size: 30px;
    margin: 50px;
    padding: 5px;
    display: inline-block;
    float: left;
    text-align: center;
}

.players td {
    padding: 5px;
}


.playerFirstName {
    font-family: DFBSans-Italic, sans-serif;
}

.playerLastName {
    font-family: DFBSans-BoldItalic, sans-serif;
}

#referees {
    text-align: center;
    font-size: 30px;
    position: absolute;
    width: 100%;
    top: 650px;
}

.refsTable {
    display: inline-block;
}

.refBox {
    text-align: center;
    vertical-align: middle;
}

.refImage {
    position: static;
    left: 50%;
}

.refBox td {
    padding: 10px;
}

.refBox tr {
    border: none;
}

#referee1Box {
    background: linear-gradient(to right, rgb(30, 180, 200) 10%, rgb(2, 67, 89));
}





#bottomHomeBox {
    position: absolute;
    width: 800px;
    height: 50px;
    top: 900px;
    left: 100px;
    background-color: #59aadf;
    border-radius: 15px 15px 15px 15px;
}





#ties {
    position: absolute;
}

.tieImg {
    position: absolute;
    top: 25px;
}

#watermark {
    opacity: 0.2;
}

.blend {
    display: none;
}

.tieContent {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    height: 120px;
    padding: 25px;
    top: 900px;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    font-size: 40px;
    border-radius: 25px;
    background: #59aadf;
    white-space: nowrap;
    letter-spacing: 2px;
    max-width: 1500px;
}

#tiesLeftContent, #tiesExtraContent {
    left: 240px;
}

#tiesRightContent {
    left: 1200px;
    direction: rtl;
}
